body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #fdfbf7;
    color: #4a1c2f;
}

/*CABEÇALHO*/
header {
    background-color: #8b1c3b;
    color: #fdfbf7;
    text-align: center;
    padding: 20px 0 0 0;
}

header h1{
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

/*MENU*/
nav {
    background-color: #fdfbf7;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 0;
    margin-top: 10px;

}

nav a:hover {
    color: #e6a89e;
    transform: scale(1.1);
}

nav a {
    color: #8b1c3b;
    text-decoration: none;
    font-weight: bold;
}




/*RODAPE*/
footer {
    background-color: #8b1c3b;
    color: white;
    text-align: center;
    padding: 40px 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; /* centraliza tudo */
    justify-content: center;
}

footer::before {
    content: "";
    display: block;
    width: 80%;
    height: 1px;
    background-color: #e6a89e;
    margin-bottom: 20px;
}

footer p {
    margin: 15px 0;
    font-style: italic;
}

/* 🔹 Logo maior e centralizada */
.logo-eterna {
    width: 200px; /* ajuste o tamanho como quiser */
    height: auto;
    margin: 20px 0;
    display: block;
}

/* 🔹 Ícone do Instagram */
/* 🔹 Ícone do Instagram maior e centralizado no rodapé */
footer a i.fa-instagram {
    font-size: 50px !important; /* aumenta o tamanho */
    color: #e6a89e;
    margin-top: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
    display: inline-block;
}

footer a i.fa-instagram:hover {
    color: #fff;
    transform: scale(1.15);
}

.fa:hover {
    color: #fff;
    transform: scale(1.1);
}

footer a {
  color: #e6a89e;          /* cor dos ícones */
  margin: 0 10px;        /* espaço entre eles */
  font-size: 50px;       /* tamanho do ícone */
  text-decoration: none; /* remove sublinhado */
}

footer .endereco {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fdfbf7;
  font-size: 14px;
  margin-top: 10px;
}

footer .endereco i {
  color: #fdfbf7;
  font-size: 18px;
}

